.footer {
    background-color: rgba(23, 23, 23, 1);
    padding: 0 48px;
    font-family: 'Inter', sans-serif;
}

.footer1 {
    display: flex;
    padding: 43px 0;
    border-bottom: 0.5px solid rgba(168, 167, 170, 1);
    gap: 70px;
}

.footer2 {
    padding: 22px 0;
}

.bold {
    color: #ffffff;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
}

.col {
    cursor: pointer;
    color: rgba(168, 167, 170, 1);
}

.desc_left > .col {
    font-size: 13px;
    font-weight: 500;
    line-height: 25px;
}

.term {
    font-size: 13px;
}

.col-4 {
    width: 50%;
    gap: 20px;
}

.col-4 {
    width: 20%;
    gap: 20px;
}

.footer2 {
    display: flex;
    justify-content: space-between;
    font-size: 13px;
}

.desc_center {
    display: flex;
}

.col-4-1 {
    list-style: none;
}

.col-4-1 > li:first-child {
    font-weight: 700;
    font-size: 16px;
    line-height: 25px;
    color: rgba(209, 209, 209, 1);
    cursor: pointer;
}

.col-4-1 > li {
    padding: 6px 0;
    color: rgb(168, 167, 170, 1);
    cursor: pointer;
    font-size: 13px;
}

.col-4-1 > li:hover {
    opacity: 0.7;
}

.desc_right > a {
    font-size: 30px;
    margin-right: 20px;
    color: #ffffff;
    width: 50px;
}

.desc_right {
    display: flex;
    justify-content: flex-end;
}

.w-8 {
    width: 32px;
    height: 32px;
}

@media screen and (max-width: 1024px) {
    .footer1 {
        flex-direction: column;
    }

    .desc_left, .desc_center, .desc_right {
        width: 100%;
    }

    .desc_right {
        justify-content: flex-start;
    }
}

@media screen and (max-width: 678px) {
    .desc_center {
        flex-direction: column;
    }
}