* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'Inter';
  src: url('./Inter-Regular.otf');
}

@font-face {
  font-family: 'Great Vibes';
  src: url('./GreatVibes-Regular.ttf');
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}